<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.mapper.UserEmotionProfileMapper">

    <resultMap id="BaseResultMap" type="com.zs.entity.UserEmotionProfile">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="emotionStats" column="emotion_stats" />
            <result property="commonTopics" column="common_topics" />
            <result property="preferredResponseStyle" column="preferred_response_style" />
            <result property="activeTimes" column="active_times" />
            <result property="conversationPatterns" column="conversation_patterns" />
            <result property="emotionalUnderstandingScore" column="emotional_understanding_score" />
            <result property="lastAnalysisAt" column="last_analysis_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,emotion_stats,common_topics,preferred_response_style,active_times,
        conversation_patterns,emotional_understanding_score,last_analysis_at,updated_at
    </sql>
</mapper>
